:root {
    --bg: #080808;
    --prim: #ff3636;
    --sec: #6424ff;
    --text: #fff;
    --sub: #888;
}

@font-face {
    font-family: "Space Mono";
    src: url("./src/font/SpaceMono-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: url("./src/font/SpaceMono-Italic.woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Space Mono";
    src: url("./src/font/SpaceMono-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: url("./src/font/SpaceMono-BoldItalic.woff2");
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    color: var(--text);
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    background-color: var(--bg);
}

.hero {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero::before {
    content: "mamacita";
    font-size: 128pt;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--prim);
    filter: url(#hero-warp);
    -webkit-mask: url(#hero-mask);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask: url(#hero-mask);
    mask-repeat: no-repeat;
    mask-size: cover;
}