body{
    gap: 1rem;
}

form, #pop>p {
    max-width: min(80vw, 80vh);
    padding: 2rem;
    background: var(--shd);
    border: 2px solid var(--bg);
    outline: 2px solid var(--prim);
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5rem;
}

#pop>p {
    flex-flow: row wrap;
    gap: 0;
}

form h4 {
    color: var(--prim);
    font-size: 2rem;
}

form>* {
    width: 100%;
}

a {
    color: var(--sec);
    text-align: center;
}

a:hover,
a:focus {
    color: var(--sub);
}

a:active {
    color: var(--txt);
}

select, input {
    width: 100%;
    padding: .5rem;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--sub);
    background: var(--bg);
    color: var(--txt);
    transition: border-bottom .2s ease-in-out;
}

input::placeholder {
    color: var(--sub);
}

input:focus,
input:hover {
    border-bottom: 2px solid var(--sec);
}

button {
    min-width: 3rem;
    padding: .5rem;
    outline: none;
    border: none;
    background: var(--sec);
    color: var(--bg);
    border-radius: .5rem;
    cursor: pointer;
    text-align: center;
}

button:hover,
button:focus {
    background: var(--sub);
    color: var(--shd);
}

button:active {
    background: var(--txt);
    color: var(--bg);
}

#pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0008;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}