h2 {
    color: var(--prim);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

h2::before {
    content: "";
    width: 3rem;
    height: 3rem;
    position: relative;
    float: left;
    background: var(--prim);
    --mask: url("../src/ico/stack/php.svg") center / cover no-repeat;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

h3 {
    color: var(--txt);
    font-size: 2rem;
    text-align: center;
}

section, .task {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

section {
    gap: .5rem;
}

.task {
    gap: 2rem;
}

section>*:not(:last-child) {
    border-bottom: var(--shd) solid 2px;
}

.deck {
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 20rem;
    padding: 2rem;
    aspect-ratio: 3.25 / 2.1;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    background: var(--shd);
    border-radius: 1rem;
    border: 2px solid var(--card, var(--sub));
    transition: all .5s ease-out;
    transform: rotateZ(60deg);
    margin: 4rem -9rem;
}

.card:hover,
.card:active,
.card:focus {
    transform: rotateZ(80deg);
    margin: 0 -1rem 2rem -5rem;
}

.card::before {
    content: "";
    width: 98%;
    height: 96%;
    position: absolute;
    top: 2%;
    left: 1%;
    border-radius: .5rem;
    transition: all .5s ease-out;
    background: linear-gradient(45deg, #0000, #4444, #0000);
    background-size: 200% 200%;
    background-position: 100% 0%;
}

.card:hover::before,
.card:active::before,
.card:focus::before {
    background-position: 0% 100%;
}