footer {
    width: 100vw;
    padding: max(3vw, 1rem);
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;;
    align-items: start;
    position: relative;
    --foot: var(--sub);
}

footer::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--shd);
    --mask: url("../svg/foot-sock.svg") center / cover no-repeat;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    z-index: -1;
}

footer * {
    color: var(--foot) !important;
}

footer a:hover,
footer a:focus {
    --foot: var(--prim);
}

footer a:active {
    --foot: var(--txt);
}

footer section {
    display: flex;
    flex-flow: column;
    gap: .5rem;
}

footer section:first-child {
    align-items: start;
}

footer section:last-child {
    align-items: end;
}

.copy {
    display: flex;
}

.copy * {
    display: inline-block;
}

.copy:hover *,
.copy:focus * {
    transition: all .2s ease-out;
}

.copy p:first-child {
    width: 5.5rem;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.copy p:last-child {
    width: 1.85rem;
    direction: rtl;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.copy:hover p:first-child,
.copy:focus p:first-child,
.copy:active p:first-child {
    width: 8rem;
}

.copy:hover p:nth-child(2),
.copy:focus p:nth-child(2),
.copy:active p:nth-child(2) {
    opacity: 0;
}

.copy:hover p:last-child,
.copy:focus p:last-child,
.copy:active p:last-child {
    width: 6.2rem;
}

.contact {
    display: flex;
    gap: 1rem;
}

.contact a {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--foot);
    -webkit-mask: var(--mask) center / cover no-repeat;
    mask: var(--mask) center / cover no-repeat;
}

.contact a:first-child {
    --mask: url("../ico/social/gh.svg");
}

.contact a:nth-child(2) {
    --mask: url("../ico/social/ig.svg");
}

.contact a:last-child {
    --mask: url("../ico/social/li.svg");
}

.cred *, .addr {
    font-size: .8rem;
}

.addr {
    text-align: right;
}