:root {
    --bg: #080808;
    --shd: #0f0f0f;
    --prim: #ff3636;
    --sec: #6424ff;
    --txt: #fff;
    --sub: #888;
}

@font-face {
    font-family: "Space Mono";
    src: url("../font/SpaceMono-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: url("../font/SpaceMono-Italic.woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Space Mono";
    src: url("../font/SpaceMono-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: url("../font/SpaceMono-BoldItalic.woff2");
    font-weight: bold;
    font-style: italic;
}

[data-overlayscrollbars-viewport] {
  overflow-x: var(--os-viewport-overflow-x);
  overflow-y: var(--os-viewport-overflow-y);
}

.os-scrollbar {
  --os-size: 1rem;
  --os-padding-perpendicular: .25rem;
  --os-padding-axis: .25rem;
  --os-handle-border-radius: .25rem;
  --os-handle-bg: var(--shd);
  --os-handle-bg-hover: var(--sub);
  --os-handle-bg-active: var(--sec);
  --os-handle-min-size: calc(100vh / 10);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    color: var(--txt);
    scroll-behavior: smooth;
    text-decoration: none;
}

html, body {
    min-width: 100%;
    min-height: 100vh;
}

html {
    background: var(--bg);
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

a {
    color: var(--sec);
    text-align: center;
}

a:hover,
a:focus {
    color: var(--sub);
}

a:active {
    color: var(--txt);
}

.back:last-of-type {
    margin-bottom: 2rem;
}